$mont: 'Montserrat ', sans-serif;
$rob: 'Roboto', sans-serif;
$colbel: #FFFFFF;
$next: 'next', sans-serif;
$pxsize: 70;
@mixin button{
    background: rgb(255,235,128);
background: linear-gradient(0deg, rgba(255,235,128,1) 0%, rgba(253,191,163,1) 100%);
}

@mixin main{
    background: rgb(130,140,222);
    background: linear-gradient(0deg, rgba(130,140,222,1) 0%, rgba(109,49,208,1) 100%);
}
@mixin main-icon{
    background: rgb(254,252,158);
    background: linear-gradient(0deg, rgba(254,252,158,1) 0%, rgba(253,191,163,1) 79%);
}


@mixin header{
    background: rgb(83,38,157);
    background: linear-gradient(90deg, rgba(83,38,157,1) 0%, rgba(109,49,208,1) 100%);
}