@import 'rezet';
@import 'global';
@import 'vars';
@import 'peremen';
@import 'fonts';
@import 'header';
@import 'footer';
@import 'rem';
@import 'top';

*{
  -webkit-tap-highlight-color: transparent;
}
.container{
  padding: auto;
  max-width: 1253px;
    padding: 0 15px;
    margin: 0 auto;
    
}


