@import 'rezet';
@import 'global';
@import 'vars';
@import 'peremen';
@import 'fonts';
/*
*{
  -webkit-tap-highlight-color: transparent;
}
.container{
    
  max-width: 1253px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
  width: 100%;
  background: rgb(83,38,157);
background: linear-gradient(90deg, rgba(83,38,157,1) 0%, rgba(109,49,208,1) 100%);
&__inner{
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&__list a{
  font-family: 'next', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $colbel;
  position: relative;
  
 
  text-transform: uppercase;
}



&__item4{
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  max-width: 400px;
  height: 700px;
}

&__item5{
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  max-width: 400px;
}


&__button a{
  padding: 14px 33px 14px 33px;
  background-color: #FFDB80;
  display: inline-block;
  border-radius: 25px;
  color: #6D31D0;
  font-family: $mont;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  margin-left: auto;
  border: 3px solid transparent;
 @media(hover: hover){
  &:hover{
    background: rgb(171,128,239);
background: linear-gradient(90deg, rgba(171,128,239,1) 0%, rgba(109,49,208,1) 100%);
color: #FFDB80;
border: 3px solid $colbel;

  }
  &:active{
    background: rgb(171,128,239);
background: linear-gradient(90deg, rgba(171,128,239,1) 0%, rgba(109,49,208,1) 100%);
color: #FFDB80;
border: 3px solid $colbel;

  }
 }
  
  
}
&__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 48px;
  
 
  
  &__logo{
    padding-left: 22px;
  }
 
}
&__item-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0 28px;
  
}
&__logo{
  
   padding-left: 22px;

}
&__list1 {
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
  &::after{
    content: url('./images/list.svg');
    position: absolute;
    right: -15px;
    top: 50px;
  }
  padding-bottom: 50px;
  padding-top: 50px;

}
&__list2 {
  position: relative;
  padding-bottom: 50px;
  padding-top: 50px;
 
  padding-bottom: 50px;
  padding-top: 50px;
}

&__item1{
  position: absolute;
  top: 116px;
  background: rgb(83,38,157);
  background: linear-gradient(90deg, rgba(83,38,157,1) 0%, rgba(109,49,208,1) 100%);
  width: 300px;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  opacity: 0;
  overflow: hidden;
  transition: .3s linear;
  z-index: 10000;
}
&__item1 li{
  padding: 20px;
  &:hover{
    background-color: black;
    border: solid 1px #fff;
    
  }
}
&__item2 li{
  padding: 20px;
  &:hover{
    background-color: black;
  }
}
&__item2{
  position: absolute;
  top: 0px;
  left: 300px;
  background: rgb(83,38,157);
  background: linear-gradient(90deg, rgba(83,38,157,1) 0%, rgba(109,49,208,1) 100%);
  width: 300px;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  opacity: 0;
  overflow: hidden;
  transition: .3s linear;
}
&__item2 li{
  padding: 20px;
  &:hover{
    background-color: black;
  }
}

&__burger{
  display: none;
  position: relative;
 
  &::after{
content: "";
width: 50px;
height: 4px;
background-color: #fff;
top: 0px;
position: absolute;
transition: all 0.5s;
  }

  &::before{
    content: "";
    width: 50px;
    height: 4px;
    background-color: #fff;
  bottom: 0px;
    position: absolute;
    transition: all 0.5s;
      }
}
&__burger span{
  width: 50px;
height: 4px;
background-color: #fff;

position: absolute;
display: block;
  position: absolute;
  top: 23px;
}
&__item-list1{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  position: absolute;

  top: 0;
  right:  0;
  bottom: 0;
  background-color: black;
  height: 100vh;
  width: 50%;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  opacity: 0;
  overflow: hidden;
  transition: .3s linear;
  z-index: 10000;
}
&__item-list1 li{
padding: 20px;
}
&__item-list1 li:first-child{
  padding-top: 0px;
  }
  &__modal{
    top: 40px;
    z-index: 50;
   
  }
  &__modal2 li:first-child{
    padding-top: 20px;
  }

  &__modal li:first-child{
    padding-top: 20px;
  }
  &__modal2{
    z-index: 50;
  }
  &__modal3{
    &::after{
      content: url('./images/list.svg');
      position: absolute;
      left:  105px;
     top: 20px;
    }
  }
  
}

.header__list1:hover .header__item1{
  transform: rotateX(0deg);
  opacity: 1;
  overflow: visible;
}

.header__list2:hover .header__item2{
  transform: rotateX(0deg);
  opacity: 1;
  overflow: visible;
}

.swiper{
  
 height: 840px;
 
  &-slide{
    min-height: 840px;
  }
  
  &-pagination-bullet{
   width: 12px;
   height: 12px;
   border: solid 2px $colbel;
   background-color: transparent;
   opacity: 1;
  }
  &-pagination-bullet-active{
    width: 20px;
    height: 20px;
    background-color:$colbel;
   
    
  }
  &__content-img{
    padding-top: 130px;
    padding-left: 60px;
  }
  &__content-bag{
display: flex;
margin-bottom: 110px;
gap: 0 25px;

  }
  &__title-bag{
    color:rgba(255, 219, 128, 1) ;
background-color: rgba(109, 49, 208, 0.5);
border-radius: 30px;
font-family: $mont;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
padding: 5px 7px 5px 7px;
position: relative;

  }
 &__title-bag:not(:last-child){
  &::after{
    content: "";
    width: 3px;
    height: 15px;
    position: absolute;
  right: -15px;
  
    background-color: $colbel;
  }
 }
 &__title{
  font-family: $mont;
  font-size: 36px;
  font-weight: 600;
  color: $colbel;
  margin-bottom: 20px;
 }

 &__subtitle{
  font-family: $mont;
  font-size: 20px;
  font-weight: 600;
  color: $colbel;
  margin-bottom: 70px;
 }
 &__reloc-title{
  font-family: $next;
  font-size: 16px;
  font-weight: 400;
  color: $colbel;
  max-width: 520px;
  min-height: 120px;
  line-height: 2;
  margin-bottom: 50px;
  word-break: break-all;
 }
 &__images-title{
  display: flex;
  gap: 0 40px;
  
 }
 &__images{
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(130,140,222,1) 100%);
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
border-radius: 10px;

 }
 &__images-title3{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
  min-height: 20px;
 }
 &__img-title{
  font-family: $mont;
  font-size: 20px;
  font-weight: 600;
  color: #828CDE;
  padding-top: 20px;
  padding-bottom: 15px;
 }
 &__title2 {
  color: #434364;
 }
 &__subtitle2 {
  color: #434364;
 }
 &__reloc-title2 {
  color: #434364;
 }
}



@media(max-width: 1400px){
  .header
  &__button-burger{
    padding-left: 30px;
  }
  &__logo{
    padding-left: 0;
  }
  }
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }
  


@media(max-width: 1200px){
  .container{
    max-width: 1000px;
  }
  .header{
    &__item-list{
      gap: 0 15px;

    }
     &__item-list li a{
      font-size: 15px;
    }
  }
  .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
}

@media(max-width: 1000px){
  .container{
    max-width: 750px;
  }
  .header{
    &__button a{
      &:active{
        background: rgb(171,128,239);
    background: linear-gradient(90deg, rgba(171,128,239,1) 0%, rgba(109,49,208,1) 100%);
    color: #FFDB80;
    border: 3px solid $colbel;
      }
    }
    &__logo{
  
      padding-left: 0px;
   
   }
   &__item2 li{
    padding: 20px;
    &:active{
      background-color: black;
    }
  }
  &__item1 li{
    padding: 20px;
    &:active{
      background-color: black;
      border: solid 1px #fff;
      
    }
  }
   &__burger{
    display: block;
   z-index: 100000;
   padding-right: 15px;

   }
   &__burger.active span{
    display: none;
   }

   &__burger.active{
    transition: all 0.3s;
    &::after{
      top:45%;
      transform: rotate(-45deg); 
      transition: all 0.5s;
    }
    &::before{
      bottom:45%;
      transform: rotate(45deg);
      transition: all 0.5s;
    }
   }
   
   &__modal{
    width: 90%;
   
   }
   &__item1{
    transform: rotateX(-90deg);
    transform-origin: 0 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s linear;
   }

   &__item2{
    transform: rotateX(-90deg);
    transform-origin: 0 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s linear;
   }
   &__item2{
    width: 90%;
   }
   
   &__button-burger{
    margin-right: 60px;
    gap: 0 60px;
   }
   &__item-list1{
    display: block;
    
   }
   &__item2{
    left: 0px;
    top: 60px;
   
   }
   &__item{
    display: none;
   }
   
  }



.actives{
  transform: rotateX(0deg);
  opacity: 1;
  overflow: visible;
}
.container{
  max-width: 768px;
  margin: 0 auto;
  
}
.swiper{
  &__content-img{
    padding-left: 0px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

}

@media(max-width: 768px){
  .container{
    max-width: 640px;
    margin: 0 auto;
  }
  .swiper{
    &__reloc-title{
      max-width: 450px;
      min-height: 135px;
    }
    &__images-title{
      gap: 20px;
    }
  }
}

@media(max-width: 600px){
  .swiper{
    &__title-bag:last-child{
      
      margin-top: 30px;
    
     }
   
    height: 1200px;
    &__content-bag{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     
    }
    &__content-img{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    }
    &__reloc-title{
      text-align: center;
   
    }
    &-pagination{
      display: flex;
    }
    &__images-title{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      
      }
      
    }
    .container{
      max-width: 480px;
      margin: 0 auto;
      padding-top: 15px;
      padding-right: 15px;
    }
    .header{
      &__button{
        display: none;
      }
      &__burger{
        height: 50px;
      }
      &__title2{
        text-align: center;
      }
      
    }
  }
 

  @media(max-width: 450px){
    .swiper{
      &__title{
        font-size: 30px;
      }
      &__content-bag{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
      }
      &__title-bag:last-child{
      
        margin-top: 0px;
      
       }
       &__title-bag:first-child{
      
        padding-left: 10px;
      
       }
     
    }
  }
    
   */
   .header{
    background-color: black;
   &__inner{
    margin-top: 10px;
    display: flex;
    position: relative;
    &::after{
      content: '';
      width: 100px;
      height: 20px;
      position: absolute;
      bottom: 50px;
      top: 40px;
      background-color:blanchedalmond;
    }
   }
   }