@import 'rezet';
@import 'global';
@import 'vars';
@import 'peremen';
@import 'fonts';

*{
  -webkit-tap-highlight-color: transparent;
}
.container{
    
  max-width: 1253px;
    padding: 0 15px;
    margin: 0 auto;
}

