<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
  
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
        <link rel="stylesheet" href="css/style.min.css">
      
</head>
<body>
    <div class="wrapper">
    <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <img src="./images/header-logo.svg" alt="">
        </div>
        <nav class="header__item">
          <ul class="header__item-list">
            <li class="header__list">
              <a href="#" class="header__link">Home</a>
            </li>
            <li class="header__list">
              <a href="#" class="header__link">AbouT us</a>
            </li>
            <li class="header__list header__list1">
              <a href="#" class="header__link ">Services</a>
              
             <nav class="header__item1">
              <li><a href="#">Investments opportunities</a></li>
              <li><a href="#">Business relocation</a></li>
              <li class="header__list2"><a href="#">Family relocation</a>
                <nav class="header__item2">
                  <li><a href="#">Investments opportunities</a></li>
                  <li><a href="#">Business relocation</a></li>
                  <li><a href="#">Family relocation</a></li>
                 </nav>
                </li>
             </nav>
            </li>
            <li class="header__list">
              <a href="" class="header__link">Invest in cyprus</a>
            </li>
            <li class="header__list">
              <a href="" class="header__link">migration</a>
            </li>
            <li class="header__list">
              <a href="" class="header__link">Contuct us</a>
            </li>
          </ul>
        </nav>
       
      </div>
       
    </div>
    <ul class="header__item-list header__item-list1">
      <li class="header__list ">
        <a href="" class="header__link">Home</a>
      </li>
      <li class="header__list">
        <a href="" class="header__link">AbouT us</a>
      </li>
      <li class="header__list header__list1 header__modal3">
        <a href="#" class="header__link ">Services</a>
        
       <nav class="header__item1 header__modal">
        <li><a href="#">Investments opportunities</a></li>
        <li><a href="#">Business relocation</a></li>
        <li class="header__list2"><a href="#">Family relocation</a>
          <nav class="header__item2 header__modal2">
            <li><a href="#">Investments opportunities</a></li>
            <li><a href="#">Business relocation</a></li>
            <li><a href="#">Family relocation</a></li>
           </nav>
          </li>
       </nav>
      </li>
      <li class="header__list">
        <a href="#" class="header__link">Invest in cyprus</a>
      </li>
      <li class="header__list">
        <a href="#" class="header__link">migration</a>
      </li>
      <li class="header__list">
        <a href="#" class="header__link">Contuct us</a>
      </li>
    </ul>
    </header>   
     
   